body {
    font-family: Arial, Helvetica;
    background-color: #27566B;
    text-align: center;
}

#containingBlock {
    width: 100%;
    height: 400px;
}

.subBlock {
    display: inline-block;
    width: 50%;
    height:100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.role {
    display: inline-block;
    width: 99%;
    height: 100%;
    background-color: #AA4F39;
    text-align: center;
    border: 2px solid #AA8A39;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 60px;
}

.role-small {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #AA4F39;
    text-align: center;
    border: 2px solid #AA8A39;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 60px;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    line-height: 380px;
}

.centered-small {
    display: inline-block;
    vertical-align: middle;
    line-height: 150px;
    color: white;
}

a, a:visited {
    font-size: 60px;
    color: white;
}

.statusBlock {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #AA4F39;
    text-align: center;
    border: 2px solid #AA8A39;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 60px;
    color: white;
} 
