body {
    font-family: Arial, Helvetica;
    margin-left: 25px;
    background-color: #27566B;
}

#messages {
    height: 200px;
    width: 400px;
    border: 1px solid #c7c7c7;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}

#textToSend {
    width: 400px;
    padding: 5px;
}

#containingBlock {
    width: 100%;
    height: 400px;
}

.subBlock {
    display: inline-block;
    width: 50%;
    height:100%;
}

.role {
    display: inline-block;
    width: 95%;
    height: 95%;
    background-color: #AA4F39;
    text-align: center;
    border: 2px solid #AA8A39;
    border-radius: 25px;
    font-size: 60px;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    line-height: 380px;
}

a, a:visited {
    font-size: 60px;
    color: white;
}
